[2018-05-29 21:45] acerrillobd opened #1 "Doesn't work with SonarCloud"
Allways fails the build with the following message: Unhandled: Cannot read property 'analysisId' of undefined

[2018-05-30 06:19] simondel commented on #1
Thanks for taking the time to try out the task and report this issue! I currently don't have any projects on SonarCloud so I did not test the support with that.

Could you go to: https://sonarcloud.io/api/ce/component?componentKey=YOUR_PROJECT_ID (replacing `YOUR_PROJECT_ID` with your id. You can find this when you go to your project (for example the id of https://sonarcloud.io/dashboard?id=Stryke

[2018-05-30 18:39] acerrillobd commented on #1
I got this:
[code]

[2018-05-31 12:40] simondel commented on #1
Thanks! I have updated the plugin to version `6.2.3` which includes authentication. Could you test if the plugin now works for you?

[2018-06-08 16:26] melih154 commented on #1
Just installed latest plugin to VSTS from https://marketplace.visualstudio.com/items?itemName=SimondeLang.sonar-buildbreaker

Still getting the same error message.
`Unhandled: Cannot read property 'analysisId' of undefined`

Ps. I am working on a private Sonar project and checking the above URL via a new browser session returns below error message.

`{"errors":[{"msg":"Insufficient privileges"}]}`

[2018-06-08 16:27] acerrillobd commented on #1
I'm working with a public sample, but still getting same message as @melih154

[2018-06-13 14:34] remkoseelig commented on #1
Using VSTS and SonarQube 6.7.1 I the build/plugin fails with: "Cannot read property 'task' of undefined".

[2018-06-24 12:05] simondel commented on #1
Thanks for hanging in there. I found the time to build a reproduction app and I managed to reproduce it using SonarCloud:
![image](https://user-images.githubusercontent.com/4221997/41818895-99d7e5d0-77b7-11e8-8ae0-4e6905cf30b0.png)
I'll take a look at what's going wrong.

[2018-06-24 13:10] simondel commented on #1
I have fixed the issue with SonarCloud. In my extension I was unable to access the endpoint data that is set in the SonarCloud/SonarQube prepare task. I created a separate task for SonarCloud that requires an endpoint to be selected. I have tested this and it seems to work for me:
![image](https://user-images.githubusercontent.com/4221997/41819412-77d60d14-77c0-11e8-9b99-83c683c3af79.png)

@acerri

[2018-06-28 10:19] melih154 commented on #1
Works, many thanks.

[2018-07-02 09:27] simondel commented on #1
@remkoseelig I have updated the SonarQube extensions. Please upgrade to version 7.x of the task and set your SonarQube endpoint in order to use authentication:
![image](https://user-images.githubusercontent.com/4221997/42156231-d07a1110-7dea-11e8-9b12-9b52e35f7f80.png)

Please let me know if this fixes your issues!

[2018-07-03 15:23] nboeckmann commented on #1
Hey,

I'm having the same issue as @remkoseelig and I'm using the 7.x version. I'm still getting the same error message as he does: "Cannot read property 'task' of undefined".

I'm using SQ Server 6.7.1 and I can see in the access.log that the queries are made OK and that content is returned. I've also validated the output of the queries and they seem to be ok considering what you have written ear

[2018-07-04 14:01] samdinesh86 commented on #1
@simondel Superb work thanks for building it.

im using SonarQube Version: 6.7.1
what could be the reason for this issues, as the log or no information is displayed. only the message "ERROR" is not helping it would be great if you can add some description to the message.
Also one more doubt, does this work with TFS builds / VSTS Builds

[2018-07-05 13:04] simondel commented on #1
@nboeckmann Thanks for trying it out! Where in the build do you have the task right now? Also, do you have the 'publish quality gate result' in your build before you run the builbreaker? (It calls the same endpoint)

@samdinesh86 Thanks for the feedback! The message that you get indicates that everything went well in my extension, but your quality gate has the status 'ERROR'. What kind of message

[2018-07-05 13:09] nboeckmann commented on #1
Hey @simondel,

I’ve tried it on both sides of the ‘Publish Quality Gate Result’. Where is it supposed to be?

Nils

[2018-07-05 16:07] simondel commented on #1
@nboeckmann I would suggest placing the official SonarQube task in front of my task. Is the SonarQube task able to upload the quality gate result? Because that calls the same endpoint as my task.

[2018-07-06 06:34] samdinesh86 commented on #1
@simondel
The error message means that there is an error which doesn't clearly mention it is on the extension or from SonarQube-
Descriptive error message example
ERROR: SonarQube failed to generate Quality Gate.
ERROR: Failed to read Quality Gate ( Error on the extension).

On the other note, I have tried placing the task after the publish quality gate task still it fails, I'm running this on TFS

[2018-07-06 16:34] simondel commented on #1
@samdinesh86 the message `The quality gate has failed with status: ERROR` everything went well, but the extension noticed that your quality gate has the status 'error' for this analysis so you failed to pass the quality gate. I'll improve the logging this weekend. Thanks for the feedback!

@nboeckmann I'll create a separate issue for your problem.

[2018-07-07 05:42] simondel opened #2 "SonarQube analysis failing"
@remkoseelig mentioned in #1 that the has the following issue:

@nboeckmann has this same issue but with TFS:

[2018-07-07 06:06] simondel commented on #2
I have improved the logging. Could you try it out and let me know what the logging says? The task version (seen in the TFS/VSTS build logs) should be at least 7.0.3.

[2018-07-07 06:08] simondel commented on #1
@samdinesh86 I have improved the logging:
![image](https://user-images.githubusercontent.com/4221997/42407428-c8e4b146-81bc-11e8-99e6-6f296393587f.png)

I'll close this issue for now as the plugin seems to work just fine with SonarCloud. If anyone still has an issue or suggestion, feel free to open a new issue.

[2018-07-07 06:08] #1 closed

[2018-07-11 06:27] nboeckmann commented on #2
Hey,

I'm getting the following now:

`2018-07-11T06:18:27.8639311Z Getting task report from file C:\Build\vsts-agent\_work\64\.sonarqube\out\.sonar\report-task.txt
2018-07-11T06:18:27.8795597Z Retrieving analysisId from https://build05.omada.dk/api/ce/task?id=AWSH_Y8wmgROYPRroi7m
2018-07-11T06:18:27.9264304Z ##[error]Unhandled: Cannot read property 'statusCode' of undefined`

The API call returns

[2018-07-11 14:49] simondel commented on #2
@nboeckmann thanks! That error occurs because the server did not give any response at all it seems. I have added a check to see if we even get a response from the server if the callback gets hit. Could you try it again? (New version is 7.0.4.)

[2018-07-12 20:17] nboeckmann commented on #2
@simondel It was a certificate issue!! I'm using an SSL certificate for my SonarQube instance which is issued by an AD CA which was apparently not trusted by the nodejs request module.

The error message I got was `2018-07-12T19:47:48.6974768Z ##[error]Unable to get a result! It has value undefined and a possible error is Error: unable to get local issuer certificate
2018-07-12T19:47:48.6974768Z #

[2018-07-12 20:50] simondel commented on #2
Awesome! Glad to hear that the logging finally worked! I'll close this issue for now.

[2018-07-12 20:50] #2 closed

[2018-08-01 14:35] brianhsb1671 opened #3 "Requirements"
I got a question, I have extension “Break build on quality gate failure” version 6.2.3, and it seems that it required has "Publish Quality Gate Result", if i disable that task i get the following error:

![image](https://user-images.githubusercontent.com/16038189/43532427-ac5ce7b8-9577-11e8-844b-ee875a7920cf.png)

But i got a problem with task Publish Quality Gate result, it taking so long to fini

[2018-08-01 17:40] simondel commented on #3
Thanks for opening this issue! The publish quality gate task is not required. It is recommended as my task may cause your build to fail if you break the quality gate. Having a link to the SonarQube analysis if that happens is useful.

Does the 'Publish Quality Gate' task work for your build? This extension officially does not support SonarQube below version 6, so I cannot guarantee that the API ca

[2018-08-01 19:49] ghost commented on #3
Sorry, my mistake, my sonar version es 6.7... When i run my pipeline with the following conf, its work ok!:

![image](https://user-images.githubusercontent.com/16038189/43544502-b80ea74c-9598-11e8-96ee-a8e9374ac3bb.png)

![image](https://user-images.githubusercontent.com/16038189/43544922-0cf082c0-959a-11e8-9bc9-8cc7261bee7c.png)

When i disabled the task "Publish Quality Gate Result" i get the fo

[2018-08-01 19:56] simondel commented on #3
I believe the SonarQube tasks actually use a polling mechanism to check if the analysis is available yet. My implementation is quite lazy so it doesn't do that.

The message "The analysis did not pass the quality gate" means thaty plugin did its job. It got the data from SonarQube, but that data indicates that the build should fail because your code did not pass the quality gate.

If you have tips

[2018-08-08 08:09] simondel commented on #3
I have updated the extension to include more information about the usage: https://marketplace.visualstudio.com/items?itemName=SimondeLang.sonar-buildbreaker

I'll close this issue for now. If you have any feedback on how the message _"The analysis did not pass the quality gate"_ could be improved, please let me know!

[2018-08-08 08:09] #3 closed

[2019-03-12 16:23] guileinsighter opened #4 "Execution failure with socket hang up error"
Hi,

Our execution is suddenly failing with socket hang up error (after a few hours running) as per screen shot below as if it couldn't access/authenticate Sonarqube, though previous task (Publish Quality Gate Result) does using very same Sonarqube  endpoint.

![image](https://user-images.githubusercontent.com/17008932/54217334-32549f80-44ca-11e9-9b83-ee023a76f649.png)

Any hints?
Thanks.

[2019-03-13 07:10] simondel commented on #4
Thanks for letting me know! I've seen a lot of strange SonarQube issues, but not this one.

How often does this happen? My code should make the same API calls as the Publish Quality Gate Result task.

Also, what version + edition are you running?

[2019-05-08 16:52] martinmani opened #5 "using this for other type of sonarqube tools like dotnet-sonarscanner, npm sonarscanner"
we use [dotnet-sonar](https://github.com/nosinovacao/dotnet-sonar/blob/master/README.md) and [sonarqube-scanner](https://www.npmjs.com/package/sonarqube-scanner),

just wondering whether this tool can be used along with those tools?

[2019-05-08 19:59] martinmani opened #6 "why the sq enpoint need to pass explicitly"
the endpoint is available as serverUrl in report-task.txt file.
So why we need to pass the endpoint explicitly in the task?
Checking since we dont need to pass the endpoint in task "Publish Quality Gate Result"!

[2019-05-16 09:22] simondel commented on #6
In order to retrieve the result, the code needs to authenticate to SonarQube/SonarCloud in most cases (public projects don't need authentication).

My task is not part of the official SonarQube/SonarCloud extension. This means that I cannot access the endpoint you set in the Prepare Analysis task. The Pulish Quality Gate Result task _is_ part of the official extension so it's allowed to reuse your

[2019-05-16 09:22] #6 closed

[2019-05-16 09:23] simondel commented on #5
I think so. Do you have a service connection for SonarQube in TFS?

[2019-07-24 19:28] tlbonds2 opened #7 "Error when using the build breaker task 2 times in AzureDevOps pipeline"
Hello Team,
We are using the SonarQube build breaker task 2 times in the same Azure DevOps build pipeline, since we have 2 separate scans configured.  So we will scan the webui source code(java) which gets posted to one Sonar project, then later in the pipeline we scan the DB source code, which gets posted to another Sonar project.  We would like to fail the build if either quality gate fails.  Ho

[2019-07-24 19:39] simondel commented on #7
Interesting. This is not supported right now as I only look at the first available task report as generated by the sonarqube tasks:
https://github.com/simondel/sonar-buildbreaker-vsts/blob/master/extensions/sonarqube/tasks/buildbreaker/common/checkQualityGateTask.ts#L60

This shouldn't cause the specific error that you're getting though... Do you see any logging before you get the error?

[2019-07-24 19:55] tlbonds2 commented on #7
Hello!  Thanks for reaching out.  This is the only detail in the logs:
##[section]Starting: Break build on quality gate failure - DB
==============================================================================
Task         : SonarQube build breaker
Description  : Break the build when the quality gate fails.
Version      : 7.0.4
Author       : Simon de Lang
Help         :
========================

[2019-07-24 21:22] tlbonds2 commented on #3
Sounds good.  Thanks a lot for the support!  Much appreciated.

[2019-07-31 07:50] gt97 commented on #7
Hello team. I have the same need indicated by the title of the post. I have a build pipeline with two distinct analysis. As said by Tom in an answer before the result depends only on the first task (alphabetical order) and not on both tasks.
Is this featre going to be implemented in the future?

Thanks
Gianluca

[2019-08-13 14:19] O-heu opened #8 "Report task file not found"
Since the update of the sonar plugin to version 4.7.0 we get the following error:

(node:4115) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): TypeError: path must be a string or Buffer
Getting task report from file undefined

We checked the changes of the sonar plugin and recognised that the result will now placed in the tmp directory rather than the build folder.

[2019-08-14 12:17] tlbonds2 opened #10 "Build break task failing"
Hello,
The build breaker task is all of a sudden failing with the following error.  Not sure if a change to the Azure DevOps API caused the following but wanted to reach out to see if you had any insight.

Error:
##[section]Starting: Break build on quality gate failure
==============================================================================
Task         : SonarQube build breaker
Description

[2019-08-14 13:16] emi662002 commented on #10
Same here as of today, we are using Azure DevOps on premise so we have a stable api.

[2019-08-14 13:31] JoopBananenbuiger commented on #10
Same issue here since this afternoon

[2019-08-14 14:44] mtelle commented on #10
Same Here

[2019-08-14 15:36] shoang-pfcu commented on #10
same here

[2019-08-14 16:01] saikiranreddykandala commented on #10
Same Issue since Yesterday. It happens to All Projects.

[2019-08-14 18:59] emi662002 commented on #10
It this maybe related to an update to the sonarsube plugin for azure devops?

I've already opened a ticket there:
https://community.sonarsource.com/t/possible-error-publish-quality-gate-task-not-waiting-until-analysis-finishes/13148

Maybe check the commits done lately to see if the error is to be pinpointed, I didn't have the time so far

[2019-08-14 18:59] dhiegobastos commented on #10
Same Issue since Yesterday. It happens to All Projects. (2)

[2019-08-14 19:10] simondel commented on #10
Thanks for letting me know! I'll see if I can reproduce this.

[2019-08-14 19:15] rwezowicz commented on #10
same here with multiple projects

[2019-08-14 19:18] simondel commented on #10
Is this all on SonarQube or also some people with SonarCloud?

[2019-08-14 19:20] rwezowicz commented on #10
We are using pure SonarQube

[2019-08-14 19:20] shoang-pfcu commented on #10
sonarqube for me. and all projects.  I use TFS on premises.  So no azure

[2019-08-14 19:39] tlbonds2 commented on #10
sonarqube on-prem here!  Thanks for looking into it @simondel

[2019-08-14 20:21] simondel commented on #10
May have been caused by https://github.com/SonarSource/sonar-scanner-vsts/releases/tag/sq-4.7.0

That file is used in this extension.

_EDIT_ note to self: copy this logic https://github.com/SonarSource/sonar-scanner-vsts/blob/master/common/ts/sonarqube/TaskReport.ts#L43

[2019-08-14 21:50] DeadlyDragon commented on #10
we have the same issue for on premise azure devops server 2019 and on-premise sonarqube as well.

[2019-08-15 06:03] simondel commented on #10
# The issue has been resolved
Fixed in:
* SonarCloud build breaker v1.0.11 (task version 1.0.7)
* SonarQube build breaker v7.0.7 (task version 7.0.5)

You can see which task version you run if you look at the logging of the task. The task version (not extension version) is shown at the start of the task.

## Updating
Azure DevOps Services users should be getting the new extension automatically. Yo

[2019-08-15 06:03] #10 closed

[2019-08-15 06:10] simondel commented on #8
Thanks for letting me know! This issue has just been resolved: https://github.com/simondel/sonar-buildbreaker-vsts/issues/10#issuecomment-521525664

[2019-08-15 06:10] #8 closed

[2019-08-15 09:17] ManIkWeet opened #11 "Plugin randomly stopped working..."
We were using version 6, which suddenly stopped working without any obvious reason.
I enabled debug output, here's part of that:

The file does appear to exist (C:\DeltaPi\agent\_work\10\.sonarqube\out\.sonar\report-task.txt) and has the following contents:

Note that this file only contains LineFeed line endings (not sure if that matters)

We are using SonarQube LTS so nothing should've changed t

[2019-08-15 09:29] simondel commented on #11
What task version do you see at the start of the logging? 7.0.4 or 7.0.5?

[2019-08-15 09:33] simondel commented on #11
Awesome and what is the version of your SonarQube tasks? They should be at least v4.7.0

[2019-08-15 09:34] ManIkWeet commented on #11
Hmm interesting

[2019-08-15 09:37] simondel commented on #11
Strange. I would expect all three to be the same version. Do you have access to your build server? If so, could you delete everything in the _tasks folder (probably under _work in your agent folder)? And then run the build again.

[2019-08-15 09:40] ManIkWeet commented on #11
I will try that, the folder contains a lot of files.
Running the build will take about 15 minutes, I'll respond again when it's done.

[2019-08-15 09:56] ManIkWeet commented on #11
Deleting the folder does not seem to have made a difference

[code]

[code]

[code]

[code]

[2019-08-15 11:30] dhiegobastos commented on #10
@simondel now on version 7.0.5 I'm getting  the follow error
`Getting task report from file undefined
(node:670) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): TypeError: path must be a string or Buffer`

Previously when the version 7.0.4 was ok, the output was
`The quality gate retrieved. The status of the quality gate is OK
The analysis has passed the quality ga

[2019-08-15 12:13] tlbonds2 commented on #10
Hey @simondel I am receiving the error as well.  Thoughts?
![image](https://user-images.githubusercontent.com/7121218/63093834-a3462a80-bf34-11e9-9c74-ffe58ec889ba.png)

[2019-08-15 12:29] rwezowicz commented on #10
my builds are working correctly today

[2019-08-15 14:19] lnaia commented on #11
Can confirm the same situation here, with the same versions of the tasks as last published here.

[2019-08-16 06:51] cw-nvdael commented on #10
Yes, the plugin is working again. Tnx!

[2019-08-16 11:03] ManIkWeet commented on #11
I tried removing the SonarQube extension, clearing the _tasks folder, restarting the agent, but to no avail.

SonarQube still has different versions for the components.

[2019-08-16 19:25] sand314 opened #12 "Getting task report from file undefined"
I am getting this error after the update yesterday

[2019-08-16 19:45] sand314 commented on #12
This seems to be the result of this tool looking into the temp folder

[2019-08-16 20:32] simondel commented on #12
Could you give me some more info on your sonarqube version, the task version and the version of your sonarqube tasks?

[2019-08-16 20:33] simondel commented on #11
I'm working on rebuilding the extension to use as much code from sonarsource as possible to prevent me from building anything that works differently.

[2019-08-18 08:45] simondel commented on #7
Hi @gt97 and @tlbonds2 :) This has been added with v8.0.0 of the extension.

Could you try it and out let me know if it works for you?

More info: https://github.com/simondel/sonar-buildbreaker-vsts/releases/tag/SonarQube-build-breaker-8.0.0

[2019-08-18 08:47] simondel commented on #11
Hi @ManIkWeet an @lnaia :)

I have released a new version of the extension. This includes a rewrite of the code to use almost all logic from SonarSource directly. Could you test it and try it out?

For SonarQube the new version is 8.* (https://github.com/simondel/sonar-buildbreaker-vsts/releases/tag/SonarQube-build-breaker-8.0.0)
For SonarCloud the new version is 2.* (https://github.com/simondel/s

[2019-08-18 08:48] simondel commented on #10
@dhiegobastos @tlbonds2 Could you try the latest version?

For SonarQube the new version is 8.* (https://github.com/simondel/sonar-buildbreaker-vsts/releases/tag/SonarQube-build-breaker-8.0.0)
For SonarCloud the new version is 2.* (https://github.com/simondel/sonar-buildbreaker-vsts/releases/tag/SonarCloud-build-breaker-2.0.2)

[2019-08-18 08:48] simondel commented on #12
I have updated the extension. Could you see if that helps you?

For SonarQube the new version is 8.* (https://github.com/simondel/sonar-buildbreaker-vsts/releases/tag/SonarQube-build-breaker-8.0.0)
For SonarCloud the new version is 2.* (https://github.com/simondel/sonar-buildbreaker-vsts/releases/tag/SonarCloud-build-breaker-2.0.2)

[2019-08-19 05:43] ManIkWeet commented on #11
I tried it and got the attached output (mentioning that there are no analyses), does seem to get a proper server response but I'm not sure if it breaks using just that response.
[latest.log](https://github.com/simondel/sonar-buildbreaker-vsts/files/3514367/latest.log)

[2019-08-19 05:57] simondel commented on #11
That's very strange! What does the debug of the publish quality gate task say?

[2019-08-19 06:01] ManIkWeet commented on #11
This is what it said during that build.
[publishqualitygate.log](https://github.com/simondel/sonar-buildbreaker-vsts/files/3514410/publishqualitygate.log)

I just finished a new build which does have a failing quality gate, but breaker is fine with it.

[2019-08-19 06:06] simondel commented on #11
Interesting. That one also says it can't find an analysis. What does SonarQube put in the Summary of your build? Does that detect the failing quality gate?

[2019-08-19 06:09] ManIkWeet commented on #11
[code]

SonarQube dashboard does detect a failure, so the analysis definitely completed.

[2019-08-19 06:36] simondel commented on #11
So, on this summary dashboard in TFS/Azure DevOps the quality gate is 'FAILED'?
![image](https://user-images.githubusercontent.com/4221997/63243989-6d6ab400-c25c-11e9-986d-2c5d93e937c5.png)
(https://dev.azure.com/simondel/Public/_build/results?buildId=237&view=results)

[2019-08-19 06:40] ManIkWeet commented on #11
That's interesting, there's no SonarQube Analysis Report summary at all there...

Maybe different from SonarCloud?
I wonder if something is simply not configured correctly, we are using an older (long term support) version of SonarQube, and it has previously worked.

[2019-08-19 07:07] ManIkWeet commented on #11
I might've broken something when I created a new pipeline to test these issues, please stand by...

[2019-08-19 07:29] simondel commented on #11
The _Publish Quality Gate_ task is supposed to place that link in the summary of your build. It should look pretty much the same, only with 'SonarQube' instead of 'SonarCloud' and the name of your SonarQube project instead of my project(s).

The task unfortunately does not log a warning when no projects can be found. I'll see if I can send a PR their way to add that some day.

[2019-08-19 07:59] ManIkWeet commented on #11
I looked at the history and I do indeed see the SonarQube entry in the summary, it somehow stopped doing that for reasons that are still unknown to me. I guess I'll have to try and fix that first now.

Perhaps something simply "bugged out" and I have to redo the whole SonarQube setup... It has happened before from what I've heard.

[2019-08-19 12:53] lnaia commented on #11
@simondel, thank you very much for your efforts already.

We are running SonarQube locally, with v.: `6.7.2.37468`

I'm getting similar results to the ones already posted here:

[code]

From the task
[code]

We can see the path of where the results are being saved:
[code]

[code]

Now with full detail, regarding your specific task:
[code]

[2019-08-19 12:54] lnaia commented on #11
@simondel Ideally, it should break the build at this point, but

[code]
is reporting there's nothing to see here, just move along, as well;
could be entirely on their side, the fact that it's not picking up the file results?

[2019-08-19 13:19] ManIkWeet commented on #11
I think it's because the "report-task.txt" file isn't at the expected location.
The file does exist, and it's written to a different location, namely
`/_work/##/.sonarqube/out/.sonar/report-task.txt`

The change to the _temp folder was done in commit e71f6f0598e030cdd4558abbbbd6533a6024fb1d and I can see that the Publish task from SonarQube also made this change.

So I guess the question now is: h

[2019-08-19 13:34] lnaia commented on #11
@ManIkWeet I'm on it as well, I'm configuring sonar.properties, taken from: https://docs.sonarqube.org/latest/analysis/analysis-parameters/

[code]

to ensure it's where it's expected, and running those builds as I type this.
Both seem to have eager search, I'm giving it a try at the project root, before escalating to specific temp. folder

[2019-08-19 13:56] dhiegobastos commented on #10
Hi @simondel
When I upgraded to version 8. * the pipeline didn't show those console errors again. But when I tried to simulate a Quality Gate fail scenario, the plug-in didn't break my build.

![Plugin](https://user-images.githubusercontent.com/7109329/63271149-e1fb1e00-c26f-11e9-9bb3-5e6ab9ea81c8.PNG)
![qualitygate](https://user-images.githubusercontent.com/7109329/63271153-e3c4e180-c26f-11e9-891

[2019-08-19 14:09] simondel commented on #10
@dhiegobastos If you run your build in debug mode, how many analyses does the _Publish quality gate_ task find? Is that also 0? If so, you may have an issue in your SonarQube setup (see also #11)

[2019-08-19 14:10] simondel commented on #11
I don't think you're supposed to set the file location manually :/ But I'm also not sure why your config's don't set it in the correct place to begin with...

[2019-08-19 14:18] lnaia commented on #11
I'm currently trying to set it where, the rest of the tasks expects to read from it, like so:

[code]

The tasks run in the following order:
![image](https://user-images.githubusercontent.com/87880/63272454-fa7d2f80-c293-11e9-8149-8e8f12c86321.png)

[code]

But when I check:
[code]

And then the following one, before yours also doesn't pick up the scan results.

[code]

Right now my guess is that

[2019-08-19 14:54] sand314 commented on #12
*Sonarqube version 7.5.0.20543
My tasks...
- script: npm run sonar
    displayName: 'Run SonarQube'

  - task: sonar-buildbreaker@8
    displayName: 'Checking SonarQube Results'
    inputs:
        SonarQube: 'Front-Ends'

*I'm currently building angular project through my pipeline.

*This is what i am getting back...*

[section]Starting: Checking SonarQube Results
Number of analyses in this build

[2019-08-19 15:01] simondel commented on #12
Thanks for the info! Could you take a look at #11? There may be an issue with your general SonarQube setup.

[2019-08-19 15:41] sand314 commented on #12
Hello thanks for the quick response.

There isn't any issue with running sonar scanner for these projects, one of the first tasks I run is
- script: npm install -g sonarqube-scanner
    displayName: 'Install SonarQube

The command to run sonarqube uses sonar-project.properties This is how sonar-scanner pushes the report up to sonarqube which is working. I believe the sonar build breaker tool is un

[2019-08-19 15:49] lnaia commented on #11
Before I leave, I'm trying something else, that so far I have had positive results.
Between tasks, after the report metadata is written, I'm creating a symbolic link to that report, on the target path that but subsequent tasks expect the file to be.

So the file is there before, `Publish Quality Gate Result` and `Break build on quality gate failure` kick in.
I have a number of builds on the queue,

[2019-08-19 15:58] simondel commented on #12
If you run the build with debug enabled, what does the logging from the 'publish quality gate' task say? How many analyses can it find?

[2019-08-19 16:15] sand314 commented on #12
Since I am using sonar scanner to run the analysis there doesn't need to be the publish quality gate. Sonar scanner will publish my analysis during run. There is install sonar scanner step then a run sonar step for angular/typescript analysis. My other pipelines are .net core. The sonar steps are prepare, run analysis, and publish. These pipelines work as intended.

This is the result from running

[2019-08-19 16:40] simondel commented on #12
I understand that the tasks are able to upload the result to the SonarQube server. I however doubt that they'll be able to report the result to the build summary.

As displayed here: https://github.com/simondel/sonar-buildbreaker-vsts/issues/11#issuecomment-522433164

The _Publish Quality Gate_ task is responsible for adding the result to the build summary and I don't think that's happening in you

[2019-08-19 18:55] sand314 commented on #12
Nice! We got it working. Thanks! I omitted the install and run for sonarqube and replaced those two steps with these tasks -
- task: SonarQubePrepare@4
    inputs:
      SonarQube: 'Front-Ends'
      scannerMode: 'CLI'
      configMode: 'file'

  - task: SonarQubeAnalyze@4

  - task: SonarQubePublish@4
    inputs:
        pollingTimeoutSec: '300'

Thanks again!

[2019-08-19 18:55] #12 closed

[2019-08-19 20:44] simondel commented on #12
Glad to hear that you were able to resolve the issue :)

[2019-08-21 10:32] ManIkWeet commented on #11
@lnaia Your command doesn't work for me:
[code]
I have made a command line script task and pasted your command in it.

[2019-08-22 06:07] emi662002 commented on #11
@simondel

i have version 8 of the break build sonarqube task,

i have no results on the summary of the build and it is not breaking on failure.

debug says 0:

2019-08-22T06:01:17.3180064Z ##[debug]Evaluating condition for step: 'Break build on quality gate failure'
2019-08-22T06:01:17.3180731Z ##[debug]Evaluating: succeeded()
2019-08-22T06:01:17.3180895Z ##[debug]Evaluating succeeded:
2019-08-22

[2019-08-22 07:03] simondel commented on #11
Hi @emi662002 There probably is something wrong with your SonarQube setup. If you run your build in debug mode, you'll find that the Publish Quality Gate task also finds 0 analyses. So you probably don't see any SonarQube summary in your build summary.

[2019-08-22 07:06] emi662002 commented on #11
Do you mean on the Prepare, analyze and publish steps?

[2019-08-22 07:08] simondel commented on #11
The 'Publish Quality Gate Result' task that you can also see here: https://dev.azure.com/simondel/Public/_build/results?buildId=237

[2019-08-22 07:35] emi662002 commented on #11
seems related to this, we'll just have to wait
https://community.sonarsource.com/t/sonarqubebuildsummary-md-file-empty-with-the-publish-quality-gate-result-step-in-azure-devops/13305/2

[2019-08-22 14:32] jvnvenu opened #13 "The build is not stopped even the sonarqube quality gate failed"
Sonarqube version 6.7
this extension task version 8
The sonarqube web page showing the quality gate is failed. But this extension doesn't stop the build pipeline.
Log of this extension
Number of analyses in this build: 0
Summary of statusses:

[2019-08-22 17:18] simondel commented on #13
Hi! This is a known issue with SonarQube 6.7. If you have a 'Publish Quality Gate' task, that's probably not uploading anything to your summary as well (but it only logs that with Debug enabled)

More info: https://community.sonarsource.com/t/sonarqubebuildsummary-md-file-empty-with-the-publish-quality-gate-result-step-in-azure-devops/13305/2

I'm closing this issue for now because there's nothing

[2019-08-22 17:18] #13 closed

[2019-08-22 17:28] simondel commented on #11
Nice find @emi662002

I'm closing this issue for now as it seems to be an issue on SonarSource's side.

[2019-08-22 17:28] #11 closed

[2019-08-22 23:15] DeadlyDragon opened #14 "Azure Devops Server 2019"
Version of Build Breaker: 8.0.0
Version of SonarQube: 4.7.2

Tasks always succeeding but getting the following:

Getting task report from file undefined
(node:7688) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): TypeError: path must be a string or Buffer

or

Number of analyses in this build: 0
Summary of statusses:
##[section]Finishing: Break build on quality gat

[2019-08-23 04:31] simondel commented on #14
Hi, this is a duplicate. See #13

[2019-08-23 04:31] #14 closed

[2019-08-30 07:46] simondel commented on #4
Since I didn't hear anything back. I'm closing this issue for now. If you still have issues using the latest version, please let me know.

[2019-08-30 07:46] #4 closed

[2019-08-30 07:47] simondel commented on #7
Since I didn't hear about any issues, I'm closing this issue for now.

[2019-08-30 07:47] #7 closed

[2019-09-04 10:44] gt97 commented on #7
Hi Simon,

thank you for your reply

sorry I came back yesterday from summer holiday.
I see there is an issue related with SonarQubePublish introduced by
versione 4.7.0 that doesn't publish the results (
https://developercommunity.visualstudio.com/content/problem/694508/the-new-version-470-of-publish-quality-gate-result.html
).

I think the SonarQubePublish has to work properly for testing the
son

[2019-09-11 18:59] msweaver opened #15 "Build breaker cannot find reports"
Hi Simon.

I'm using sonar 6.7 and build breaker 8 and I'm getting the following output from build breaker:
[code]

I can see from a previous step that the report-tasks.txt is being written to the following path:
13:40:25.010 DEBUG: Report metadata written to `D:\VSTS\Agents\A\_work\179\.sonarqube\out\.sonar\report-task.txt`

Any ideas? Cheers!

[2019-09-11 20:14] simondel commented on #15
Hey! If you use the _Publish Quality Gate_ task, please check if the reports end up in your summary. I think they don't.

There's a bug with SonarSource right now that is placing the report in the wrong folder for some versions of SonarQube. More info can be found here: https://community.sonarsource.com/t/sonarqubebuildsummary-md-file-empty-with-the-publish-quality-gate-result-step-in-azure-devops

[2019-09-16 16:14] gt97 commented on #15
Hi Simon,

 SonarQUbe just released 4.8.0 version for Sinar Publish. I tried it and now the issue is solved.
 I still face "Number of analyses in this build: 0"

I have a pipeline in dev.azure.com and Sonar installed locally. The agent is local and has access from the build machine. The analisys is done by sonar, but build breaker says 0 analyses in this build.

My steps are:
- task: SonarQubePrep

[2019-09-16 16:19] simondel commented on #15
From their changelog:

I'll copy their changes later today/tomorrow. Thanks for the heads-up!

[2019-09-16 16:36] gt97 commented on #15
Hi Simon,

 Yes, I can confirm my Sonar version is 7.0

Kindly
Gianluca

[2019-09-16 18:37] simondel commented on #15
I've just published v8.1.0 of the extension. @gt97 and @msweaver does that solve your issues?

[2019-09-17 07:04] gt97 commented on #15
I can confirm the extension works correctly. I made the test below (to test if it works even with multiple projects in the analysis)

It works perfectly.
Test one project:
1. test: maven - sonar analysis fails
   expected result: sonarbreaker -> KO
	result: Test OK
2. test: maven  - sonar analysis passes
   expected result: sonarbreaker -> OK
    result: Test OK
3. test: esql - sonar analysis fail

[2019-09-23 13:59] afeblot opened #16 "Getting task report from file undefined"
The build breaker task started to fail (i.e. not breaking the build when it should, the task is always green) for all our pipelines between August 14 and August 23 according to our history, with this error:
[code]
This matches with
* the SonarQube extension being upgraded to 4.8.0
* the SonarQube breaker extension being upgraded to 7.0.8 or 8.0.0.

We're using SonarQube 6.7.3.
The analysis summary

[2019-09-23 14:49] simondel commented on #16
Thanks for opening this issue! Could you upgrade to v8 of the extension and let me know if that fixes your problem? That version includes the fix by the SonarSource team.

[2019-09-23 16:29] afeblot commented on #16
Yes, it did, thanks for the heads up :-)
For it to be clear for everybody, it was about using task version 8:
task: SimondeLang.sonar-buildbreaker.sonar-buildbreaker.sonar-buildbreaker@8

[2019-09-23 17:01] simondel commented on #16
Glad to hear that that fixed your problem :)

[2019-09-23 17:01] #16 closed

[2019-11-26 09:56] modmoto commented on #15
Hi @simondel
We have the same issue, too.

We have Sonar 8.0, the plugins are on 4.6.3 and we have the 8.1 build breaker version. The gate is also published in the build but we also get the error, that the build breaker does not find the reports like gt97 mentioned.

Is there anything we are missing?

p.s. can not upload screenshots right now, I will try again at home.

[2019-11-27 09:22] modmoto commented on #15
Hi,

updating to the 4.8 version of the sonar tasks fixed the issue for us. Just in case anyone stumbles on this one ;)

Greetings
Simon

[2019-11-27 15:12] #15 closed

[2019-12-11 10:42] nikhilpulluri-gep opened #17 "Unable to report failure when sonar cloud fails in quality gates, it is only reporting failure in case of bugs reported"
When using this step 'SonarCloud build breaker" in azure devops ideally it should fail if any one of the quality gates fail but it is failing only if "bugs" are reported and not failing for any other quality gates.

can you please explain the functionality of this step.

[2019-12-11 10:50] simondel commented on #17
It should fail if any of the quality gates fail. What's the result of the 'Publish Quality Gate' task in the summary of your build? Does that mention a passing gate?

[2019-12-11 11:06] nikhilpulluri-gep commented on #17
simondel, thanks for the quick response
in 'Publish Quality Gate' step it is giving this error
##[debug]Overall Quality Gate status: failed
is there any way where can i know which quality gate has failed in the logs

[2020-01-22 12:11] BlackAngelTiger opened #18 "Failing condition summary"
Hello, first of all thank you for the vsts extention.

It would be nice if you could not only get the status. There was a good plugin on the SonarQube Server side called QualityGate breaker. This just does not work any more for VSTS.

But it also printed a summery of the Conditions which are failed.
For Example:
New Major Issues: 3 > 0
Code Coverage on new code: 50 < 75

[2020-01-24 07:47] simondel commented on #18
That should be doable! This API is already queried to get the results:
https://sonarcloud.io/web_api/api/qualitygates/project_status

It contains an array of conditions:
[code]

So a very very basic version (doesn't require additional http requests) could say:
[code]

If we want to go a bit further we could get the names of the metrics as well: https://sonarcloud.io/web_api/api/metrics/search

Wou

[2020-08-05 09:33] leonidasnascimento opened #19 "SonarCloud build breaker is failling due to SQL mapping error"
Hi all,

I'm trying to run a pipeline on Azure DevOps & found a new error on SonarCloud Build Breaker: it's failling appearently due to a SQL error. The log is attached.
[SonarCloud Build Breaker Error Log.txt](https://github.com/simondel/sonar-buildbreaker-vsts/files/5027459/SonarCloud.Build.Breaker.Error.Log.txt)

[2020-08-26 10:46] SanthoshYalamuri opened #20 "Build breaker for .Net Core sonar cloud analysis with Azure DevOps"
Hello,

We are using sonarcloud to analyze .net core projects with Azure DevOps.

Tasks in the pipeline:

[code]

We are getting the below logs from the build breaker task:

[code]

Not sure why the output contains "Number of analyses in this build: 0".

Also the build should be failed, but it succeeds. Not sure what's wrong in the pipeline setup.

Any inputs will be helpful. Thanks in advance.

[2020-11-03 23:25] dylan-smith opened #21 "Port to GitHub Actions"
FYI I ported your code to GH Actions, got the sonarcloud version working here: https://github.com/dylan-smith/sonarcloud-buildbreaker

Gonna do a sonarqube server version next.

[2020-12-14 08:45] simondel commented on #21
Awesome :) Is this support for sonarcloud/sonarqube build breaking in GitHub Actions?

[2020-12-14 08:47] simondel commented on #20
Hi @SanthoshYalamuri sorry for the slow response! Is the _Publish Quality Gate_ task working for you?

[2020-12-14 08:49] simondel commented on #19
Hi @leonidasnascimento  this seems to be an issue in SonarCloud. Is it still present?

[2020-12-15 05:40] SanthoshYalamuri commented on #20
Yes. We got it working.

[2020-12-16 08:59] simondel commented on #20
Awesome! Thanks for letting me know :)

[2020-12-16 08:59] #20 closed

[2020-12-21 08:19] #19 closed

[2021-02-04 14:49] MayarSahab opened #22 "SonarQube Publish Quality Gate and Build Breaker Failing"
Hi Simondel,

                Appreciate your support in the below issue regarding SonarQube in our Azure pipeline.

                I have used some Azure built-in tasks to integrate our SonarQube instance and enable the code analysis inside our pipeline. I have used “SonarQubePrepare@4” and “SonarQubeAnalyze@4” tasks , those went fine and passed but when I try to use the tasks as  “SonarQubePubl

[2021-10-01 14:48] ccicrlucas opened #24 "letsencrypt cert issues"
![image](https://user-images.githubusercontent.com/67339044/135640175-54ab0ee3-0f58-4b67-8406-71abc50411fb.png)
Getting a vague issue, but we're using the newest release that supposedly fixes these... is there some cache that needs cleared on the build agents or is this still actively being worked out?

[2021-10-01 14:52] ccicrlucas commented on #24
If there's any more info I could provide to help out please let me know. And thanks for the extension 👍

[2021-10-01 14:52] simondel commented on #24
Not quite sure! Could you rerun the pipeline using verbose logging? Perhaps that will give you some more info

[2021-10-01 14:54] ccicrlucas commented on #24
![image](https://user-images.githubusercontent.com/67339044/135641414-d26e7e93-bc65-40b6-83ba-757e77f6cc59.png)
was just thinking of looking at the verbose output... here we go.

[2021-10-01 14:55] ckranthi950 opened #25 "SonarQube Build Break task was not working"
As we are using sonar build break task in Azure CI past one hour we are getting below error message, kindly help us on this.

I've run below task in debug, kindly check.

Starting: Break build on quality gate failure
==============================================================================
Task         : SonarQube build breaker
Description  : Break the build when the quality gate fails.
Versi

[2021-10-01 14:56] stwe11 commented on #24
Hi all,
set your pipeline task to 2.1.0 version
- task: sonarcloud-buildbreaker@2.1.0

[2021-10-01 14:57] ckranthi950 commented on #24
I am also getting same error in my Azure CI pipeline.

Starting: Break build on quality gate failure
==============================================================================
Task         : SonarQube build breaker
Description  : Break the build when the quality gate fails.
Version      : 8.1.1
Author       : Simon de Lang
Help         :
========================================================

[2021-10-01 15:00] ccicrlucas commented on #24
We're using on prem sonarqube, not cloud. using 8.* and it's picking up the new 8.1.1 release

[2021-10-01 15:00] ckranthi950 commented on #24
when we switch task version from 8 to 7 it's working..

[2021-10-01 15:06] simondel commented on #24
It almost seems as if it's using an old version of NodeJS and the `...` spread operator is not known.

If either of you have access to the file system of the build agent, could you try placing console.log statements in the code to figure out where it's crashing?

[2021-10-01 15:10] ckranthi950 commented on #24
Which NodeJS version we need use on build agent.

Thanks,
***@***.***

Kranthi Cherukuri | ALM Systems Engineer
Plot No. 137, Sector-44, Gurgaon 122002, India
CELL: +91- 9502221990
***@***.***

From: Simon de Lang ***@***.***>
Sent: Friday, October 1, 2021 8:36 PM
To: simondel/sonar-buildbreaker-vsts ***@***.***>
Cc: Cherukuri Kranthi ***@***.***>; Comment ***@***.***>
Subject: Re: [simondel/sonar

[2021-10-01 15:12] #25 closed

[2021-10-01 15:13] ckranthi950 commented on #25
same issue was already reported

[2021-10-01 15:21] andreracz opened #26 "Sonar Cloud build breaking after 2.1.1 upgrade"
After the recent 2.1.1 upgrade, all our pipelines started breaking, with the error:

Starting: Break build on quality gate failure
==============================================================================
Task         : SonarCloud build breaker
Description  : Break the build when the quality gate fails.
Version      : 2.1.1
Author       : Simon de Lang
Help         :
=========================

[2021-10-01 15:23] stwe11 commented on #26
@andreracz use version 2.1.0 on your task
check this thread
https://github.com/simondel/sonar-buildbreaker-vsts/issues/24

[2021-10-01 15:25] jclements2 commented on #24
We use this task in all of our pipelines (thousands) and they are all failing as well. Changing the task version to 7.* is working for us in the interim.

[2021-10-01 15:29] simondel commented on #24
NodeJS 8.3 should be high enough.

[2021-10-01 15:29] andreracz commented on #26
Thanks, that solved it as a temporary fix. Keeping this open for the definitive version.

[2021-10-01 15:29] ccicrlucas commented on #24
We're using node v12.13.0 on the build agent, and in the pipeline itself, actually using node tool installer version 14 for one, and 12 for another, and ... was introduced in node 8 I was reading.

[2021-10-01 15:33] glauberl-ciandt commented on #26
Noticed the same issue as well.

[2021-10-01 15:34] ckranthi950 commented on #24
I am using NodeJS v10.14.1 and npm version v6.4.1, still build are failing with build breaker task version 8

[2021-10-01 15:40] SanthoshYalamuri commented on #24
The same issue occurs for SonarCloud build break task.

[2021-10-01 15:49] ccicrlucas commented on #24
So, not super familiar with the spread operator, and also not sure where to stick the console log statements... when scanning the files, I see the ... in 2 files - Metrics.ts inner function and Request.ts get function... but that's in the .ts file. The files for the task in the dist folder are regular javascript, and don't show the spread operator in these locations.

![image](https://user-images.

[2021-10-01 15:57] yfrindel commented on #24
same problem since today
![image](https://user-images.githubusercontent.com/22955005/135651276-c46f3345-b312-425a-9395-e3f0d5f19fec.png)

[2021-10-01 16:01] simondel commented on #24
It might be code in a dependency that was updated. I noticed that the fix the SonarQube team implemented also updated some more config for the extension.

**I have released a new version of the extension for SonarQube and SonarCloud** which includes this change (v8.1.2 and v2.1.2). Please let me know if this resolves the issue!

[2021-10-01 16:07] ckranthi950 commented on #24
Hi Simondel,

Thanks for quick fix, now issue has been resolved.

***@***.***

Thanks,
***@***.***

Kranthi Cherukuri | ALM Systems Engineer
Plot No. 137, Sector-44, Gurgaon 122002, India
CELL: +91- 9502221990
***@***.***

From: Simon de Lang ***@***.***>
Sent: Friday, October 1, 2021 9:32 PM
To: simondel/sonar-buildbreaker-vsts ***@***.***>
Cc: Cherukuri Kranthi ***@***.***>; Comment ***@***.***>

[2021-10-01 16:08] ccicrlucas commented on #24
Tested the new release and works like a charm - many thanks!

[2021-10-01 16:08] #24 closed

[2021-10-01 16:08] klazarus-cci commented on #24
Likewise, thanks for the quick fix and responsiveness

[2021-10-01 16:17] SanthoshYalamuri commented on #24
Works perfectly after the upgrade. Thanks.

[2021-10-01 19:54] simondel commented on #26
Hi! This has been fixed with V2.1.2

[2021-10-01 19:54] #26 closed

[2021-10-01 20:12] yfrindel commented on #24
Many thanks for this quick update simondel, it works perfectly. Brilliant

[2021-11-08 21:57] bchase-humana opened #27 "Supported versions of SonarQube"
[ ] is sonarqube version 7.9.3 LTS supported?
[ ] is sonarqube version 8.9.x LTS supported?

The marketplace link indicates the following:

An extension that breaks your build whenever the quality gate in SonarQube failed. This plugin works with SonarQube extension for VSTS 4.x and SonarQube 6.x

https://marketplace.visualstudio.com/items?itemName=SimondeLang.sonar-buildbreaker&ssr=false#overview

[2022-05-27 08:44] 304NotModified commented on #27
polite bump @simondel